{% extends "common/container.html.twig" %}

{% block layout %}
    <div class='row'>
        <div id='main-content' class='span12'>
            {% block main-content %}{% endblock %}
        </div>
    </div>
{% endblock %}