<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {{ container_includes|raw }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
            <div class='container'>
                <header id='header'>
                    {% block header %}
                        {% if page_title|length > 0 %} <h1>{{ page_title }}</h1> {% endif %}
                    {% endblock %}
                </header>
                    
                {% block layout %}

                {% endblock %}
                    
                <footer id='footer' class='footer'>
                    {% block footer %}
                        HT2 {{ footer_year }}
                    {% endblock %}
                </footer>
            </div>
        {% endblock %}
    </body>
</html>